.container {
  width: 70%;
  margin: 0 auto;

  .navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.25rem;
      transition: 0.3s;

      &:hover {
        color: #0b4daf;
      }
    }
  }
}

.navigation li {
  border: 1px solid #404040;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.navigation a {
  text-decoration: none;
  font-size: 1.25rem;
  border-color: #0b4daf;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  height: 32px;
  /* Adjust size as needed */
  width: 32px;
  /* Adjust size as needed */
}

// Make a profile pic 

.profile-pic {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  // Left sided placement
}

.nav-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.nav-item {
  padding: 10px;
}

.social-links {
  margin-top: 10px;
  text-align: center;
}

.social-links a {
  color: #0f0;
  margin: 0 10px;
  font-size: 24px;
}