.markdown-box {
    padding: 10px;
    margin: 10px;
    border-radius: 5 px;
    overflow: auto;
    text-align: left;
    vertical-align: top;
}

.table-container {
    width: 100%;
    text-align: center;
    border-spacing: 10px 10px;
}

.table-container td {
    padding: 10px 10px;
}

.table-container td {
    padding: 0 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: auto;
}