/* You can add global styles to this file, and also import other style files */
// Import Google Fonts for 'Fira Code', a popular monospace font among developers
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

// Apply the theme to the whole page
body {
    background-color: #282a36; // a dark gray
    color: #f8f8f2; // a light gray
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// You could consider adding a style for code blocks
code {
    background-color: #44475a; // a slightly lighter dark gray
    color: #50fa7b; // a bright neon green
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

.custom-icon {
    font-size: 42px;
    width: 42px;
    height: 42px;
    color: #50fa7b;
}

.header-terminal {
    background-color: #000000;
    color: #33FF00;
    padding: 10px;
    font-family: 'Courier New', monospace;
    font-size: 1.5rem;

    // Text
    text-align: center;

    // Simulate terminal window
    border-radius: 5px;
    border: 2px solid #555555;

    // Add a "blinking" cursor
    &:after {
        content: '_';
        animation: blink 1s infinite;
    }

    // The "blinking" cursor animation
    @keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    color: #33FF00;
}

table th,
table td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #44475a;
}

/* Fixed column widths for a 3-column table */
table th:nth-child(1),
table td:nth-child(1) {
    width: 33.33%;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 33.33%;
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 33.33%;
}

/* General table styles */
.table-resume {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    color: #33FF00;
}

.table-resume th,
.table-resume td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.table-resume th {
    background-color: #44475a;
}

/* Styles for dynamic-width table */
.table-resume.dynamic-width th,
.table-resume.dynamic-width td {
    width: auto;
    /* Let the browser decide the width based on content */
}