@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  background-color: #f8f9fa;
  color: #333333;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: "Fira Code", monospace;
}

.custom-icon {
  font-size: 42px;
  width: 42px;
  height: 42px;
  color: #007acc;
}

.header-terminal {
  background-color: #f2f2f2;
  color: #333;
  padding: 15px;
  font-family: "Fira Code", "Courier New", monospace;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #007acc;

  &:after {
    content: "_";
    animation: blink 1s infinite;
    color: #007acc;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  color: #333;
}

table th,
table td {
  padding: 8px 12px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #007acc;
  color: white;
}

table th:nth-child(1),
table td:nth-child(1) {
  width: 33.33%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 33.33%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 33.33%;
}

.table-resume {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  color: #333;
}

.table-resume th,
.table-resume td {
  padding: 8px 12px;
  text-align: center;
  border: 1px solid #ddd;
}

.table-resume th {
  background-color: #007acc;
  color: white;
}

.table-resume.dynamic-width th,
.table-resume.dynamic-width td {
  width: auto;
}
